*{
    margin:0px;
}

.body{
    max-width: 100%;
    max-height: 100%;
}


.header{

    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header img{

    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: 50% 50%;

}

.header h1{
    position: absolute;
    font-size: 68px;
    margin-left: 5px;
    background-color: black;
    padding: 15px 15px 15px 15px;
    opacity: .5;
    border-radius: 4px;
    color: white;
    
}


.sectionhead{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: left;
}

 .sectionhead .sectionhead-img{
   
    width: 150px;
    height: 150px;
    margin-top: -50px;
    padding-left: 75px;
} 

.navbar{

    width: 100%;
    height: 450px;  
position: absolute;
}


.navbar-ancla{
    font-size: 20px;
    text-decoration:none;
    color: white;
    
}


.active, .navbar-ancla:hover {
    
    font-weight: bold;
    text-decoration: underline;
    
}

.navbar-ul{
width: 100%;
margin: 20px auto auto 260px;
left:0%;
}
.navbar li{
    margin-bottom: 30px;
    display: inline;
    padding-left: 40px;
  
}

.div-section{
    border-color: teal;
    border-width: 2px;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    width: 70%;
    height: auto;
}

.div-section .section{
    display: flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;    
}

.section h1{
    
    text-align: center;
    box-sizing: content-box;
    width: 100%;
    height: 50px;
    background-color: #033949;
    color: white;
    padding-top: 20px;
    
}

.section .section-p{
font-size: 20px;
}

.section .section-psub{
    font-size: 19px;
    font-style: italic;
    text-decoration: underline;
}



.section a{
color: teal;
}

.tabla{
    border-style: none;
    border: none;
    width: 60%;
    margin: 25px auto 25px 25%;
    
}

.tabla-encabezados{

    background-color: limegreen;
}

.tabla-body{
    background-color: whitesmoke;
}

.tabla-body td{
    padding: 5px 5px 5px 5px;
}

.tabla-body img{
  
    width:64px;
    height: auto;
    }
    

.section p, .section-psub, .section-p{
 width: 60%;
 text-align: left; 
 justify-content: center;
 margin-left: 25%;
 margin-bottom: 20px;
 margin-top: 15px;
}

.modal-contenido{
    background-color:gainsboro;
    width:450px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 5px;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
  }

  .modalX{

    background-color: rgb(250, 71, 71);
    color: rgb(26, 25, 25);
    border-radius: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
  }

  .modalX:hover{

    background-color: rgb(253, 0, 0);
    color: rgb(26, 25, 25);
    border-radius: 4px;
    width: 20px;
    height: 20px;

  }

  .div-modalX{

    display: flex;
    align-items: center;


}

  #miModal1:target{
    opacity:1;
    pointer-events:auto;
  }

  #miModal2:target{
    opacity:1;
    pointer-events:auto;
  }

  #miModal3:target{
    opacity:1;
    pointer-events:auto;
  }

  #miModal4:target{
    opacity:1;
    pointer-events:auto;
  }

  #miModal5:target{
    opacity:1;
    pointer-events:auto;
  }

 

.footer{
    margin-top: 50px;
    height: 60px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-p, a{
  
   
    color: blanchedalmond;
  

}